@charset "UTF-8";
/* =========================================================
common 
=========================================================*/
* {
  outline: none;
}

html {
  font-size: 13px;
}

body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-size: 1rem;
  line-height: 1.4rem;
  color: #fff;
  background: #180d0e url(../img/bg_main.png) repeat;
  background-size: 80px;
}

/* =========================================================
table 
=========================================================*/
table {
  width: 100%;
  table-layout: fixed;
  border-bottom: 1px solid #ccc;
}

@media only screen and (max-width: 768px) {
  table {
    table-layout: auto;
  }
}

table th, table td {
  padding: 12px 15px;
  border-top: 1px solid #ccc;
  white-space: nowrap;
}

table thead .song_title {
  width: 35%;
}

table thead .artist {
  width: 25%;
}

table thead .time {
  width: 10%;
}

table thead .title {
  width: 30%;
}

table thead .date {
  width: 10%;
}

table thead .short_member {
  width: 20%;
}

table thead .short_title {
  width: 50%;
}

table thead th {
  border: none;
  background: #fff;
  color: #403b4b;
}

table tbody tr {
  cursor: pointer;
}

table tbody tr:hover {
  background: #8de950;
  color: #413c4b;
}

table tbody tr.active {
  background: #f7edfb;
}

table tbody tr td:first-child {
  padding-left: 38px;
  background: url(../img/icon_play.png) no-repeat left 5px top 8px;
  background-size: 27px;
}

/* =========================================================
header
=========================================================*/
header {
  height: 60px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
}

@media only screen and (max-width: 768px) {
  header {
    width: 100%;
    display: block;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 2;
    background-color: #180d0e;
  }
}

header h1 {
  text-align: left;
  font-size: 2rem;
  line-height: 2.8rem;
  font-weight: 900;
}

header h1 img{
  height: 40px;
}


@media only screen and (max-width: 768px) {
  header h1 {
    font-size: 1.4rem;
    text-align: center;
    line-height: 0;
  }
}

header form {
  text-align: right;
  margin-left: auto;
}

header p {
  padding: 20px 0 0 20px;
  font-size: 1.4rem;
}

header p img {
  height: 40px;
}

@media only screen and (max-width: 768px) {
  header p {
    position: absolute;
    top: 14px;
    left: 0px;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    padding: 0;
  }
  header p img {
    width: 100px;
    height: auto;
    margin: 0 auto;
  }
}

/* =========================================================
footer
=========================================================*/
footer {
  margin-top: 70px;
  margin-bottom: 80px;
}

@media only screen and (max-width: 768px) {
  footer {
    margin-top: 0px;
    margin-bottom: 100px;
  }
}

footer .info {
  padding: 30px;
  text-align: center;
}

footer .footerIn {
  padding: 30px;
  background: #ff39ca;
  text-align: center;
}

footer .footerIn > span {
  display: block;
  margin-bottom: 10px;
}

/* =========================================================
navigation
=========================================================*/
#navigation {
  position: relative;
}

@media only screen and (max-width: 768px) {
  #navigation {
    display: none;
  }
}

#navigation #navigationIn {
  display: flex;
  background: #134983;
  padding: 0 20px;
  border-radius: 5px 0 0 5px;
  overflow-x: scroll;
  overflow-y: visible;
}

#navigation #navigationIn div {
  margin-right: 25px;
  cursor: pointer;
  padding: 20px 0;
}

#navigation #navigationIn div h3 {
  font-weight: bold;
  font-size: 1.4rem;
  color: #fff;
  white-space: nowrap;
  position: relative;
  padding-left: 20px;
}

#navigation #navigationIn div h3:before {
  content: "";
  width: 10px;
  height: 10px;
  border: 2px solid;
  border-color: #fff #fff transparent transparent;
  transform: rotate(45deg);
  margin-right: 5px;
  position: absolute;
  top: 4px;
  left: 0;
}

#navigation #navigationIn div ul {
  display: none;
  position: absolute;
  top: 45px;
  left: 0;
  width: 300px;
  background: #fff;
  border: 1px solid #134983;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 5px;
  z-index: 2;
}

#navigation #navigationIn div ul li {
  font-size: 1.2rem;
  padding: 20px;
  border-bottom: 1px dotted #ccc;
}

#navigation #navigationIn div ul li.active {
  color: #cc0000;
  font-weight: bold;
  cursor: default;
}

#navigation #navigationIn div ul li.active:hover {
  background: #fff;
}

#navigation #navigationIn div ul li:hover {
  background: #f7edfb;
}

#navigation #navigationIn div ul li:last-child {
  border-bottom: none;
}

/* =========================================================
policy
=========================================================*/
#policy {
  width: 1000px;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  #policy {
    width: auto;
    padding: 15px;
    margin-top: 60px;
  }
}

#policy p {
  font-size: 1.1rem;
  line-height: 2rem;
}

#policy > div {
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin-bottom: 30px;
}

#policy > div h3 {
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin-bottom: 20px;
}

#policy h2 {
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 20px;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  #policy h2 {
    text-align: center;
  }
}

#policy h2 + p {
  margin-bottom: 30px;
}

#policy a {
  color: #0645ad;
  text-decoration: underline;
}

/* =========================================================
main
=========================================================*/
#main {
  display: flex;
  justify-content: left;
}

@media only screen and (max-width: 768px) {
  #main {
    display: block;
    margin-top: 320px;
  }
}

#main #movie {
  width: 800px;
  margin-right: 30px;
}

@media only screen and (max-width: 768px) {
  #main #movie {
    width: 100%;
    height: 225px;
    position: fixed;
    top: 70px;
    left: 0;
    z-index: 2;
    padding-top: 10px;
  }
}

#main #movie #movieIn {
  border: 3px solid #fff;
  box-sizing: border-box;
  width: 806px;
  height: 456px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

@media only screen and (max-width: 768px) {
  #main #movie #movieIn {
    width: 100%;
    height: 225px;
    border: none;
  }
}

#main #movie #movieIn .notfound {
  background: #f5f5f5 url(../img/img_delutaya.png) no-repeat right 0px top 30px;
  background-size: 400px auto;
  position: relative;
  width: 800px;
  height: 450px;
}

#main #movie #movieIn .notfound .notfound_logo{
  position: absolute;
  left: 60px;
  top: 140px;
}

#main #movie #movieIn .notfound .notfound_logo p{
  background: #76d852;
  color: #fff;
  font-size: 1.4rem;
  text-align: center;
  padding: 10px 0;
  margin-top: 15px;
}

#main #movie #movieIn .notfound:after {
  content: "曲名をクリックすると動画が再生されるよ！";
  position: absolute;
  top: 280px;
  left: 60px;
  font-size: 1.4rem;
  color: #180d0e;
  width: 380px;
  text-align: center;
}


@media only screen and (max-width: 768px) {

  #main #movie #movieIn .notfound {
    background: #f5f5f5 url(../img/img_delutaya.png) no-repeat right -20px top 0px;
    background-size: 225px auto;
    position: relative;
    width: 100%;
    height: 225px;
  }
  
  #main #movie #movieIn .notfound .notfound_logo{
    position: absolute;
    left: 20px;
    top: 60px;
  }

  #main #movie #movieIn .notfound .notfound_logo img{
    width: 200px;
  }
  
  #main #movie #movieIn .notfound .notfound_logo p{
    font-size: 1rem;
    text-align: center;
    padding: 5px 10px;
    margin-top: 10px;
  }
  
  #main #movie #movieIn .notfound:after {
    content: "曲名をタップすると再生されるよ！";
    position: absolute;
    top: 140px;
    left: 20px;
    font-size: 1rem;
    color: #180d0e;
    width: 250px;
    text-align: left;
  }
}

#main #list {
  flex: 1;
  overflow: hidden;
  position: relative;
}

@media only screen and (max-width: 768px) {
  #main #list {
    width: 100%;
  }
}

/*--------------------------------------------*/
#title {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: relative;
}

@media only screen and (max-width: 768px) {
  #title {
    display: none;
    min-height: 60px;
    background: #fff;
    padding: 10px 15px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
}

#title h2 {
  font-size: 2rem;
  line-height: 2.4rem;
  justify-content: left;
  display: flex;
}

@media only screen and (max-width: 768px) {
  #title h2 {
    font-size: 1.6rem;
    line-height: 1.8rem;
  }
}

#title h2 span {
  display: block;
  font-size: 1.2rem;
  color: #413c4b;
}

@media only screen and (max-width: 768px) {
  #title h2 span {
    font-size: 1rem;
  }
}

#title h2 .h2_icon {
  margin-left: 20px;
}

#title h2 .h2_icon a {
  margin-right: 10px;
}

#title h2 .h2_icon a img {
  width: 50px;
}

@media only screen and (max-width: 768px) {
  #title h2 .h2_icon a img {
    width: 35px;
  }
}

#title > .information {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  #title > .information {
    display: none;
  }
}

#title > .information dl {
  text-align: center;
  padding-right: 30px;
}

#title > .information dl:first-child {
  margin-right: 30px;
  border-right: 1px solid #ccc;
}

#title > .information dl dt {
  font-size: 1.8rem;
  margin-bottom: 10px;
  padding-top: 10px;
}

#title > .information dl dd {
  font-size: 1.0rem;
  color: #413c4b;
}

/*--------------------------------------------*/
#profile {
  margin: 0px 0;
  padding: 10px 30px 30px;
  font-size: 1.2rem;
}

@media only screen and (max-width: 768px) {
  #profile {
    display: none;
  }
}

#profile h2 {
  font-size: 1.4rem;
  font-weight: bold;
  display: inline-block;
  padding: 10px 40px;
  border-radius: 40px;
  color: #fff;
  border: 1px solid #fff;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  background-color: #180d0e;
}

#profile h3 {
  font-weight: 700;
  font-size: 1.6rem;
  margin-bottom: 10px;
  color: #44c2f2;
}

#profile h4 {
  display: inline-block;
  margin-left: 20px;
}

#profile p {
  font-size: 1.2rem;
  line-height: 2.4rem;
  margin-bottom: 20px;
}

#profile .profile_data {
  display: inline-block;
  font-weight: normal;
}

#profile .profile_data li {
  display: inline-block;
  margin-left: 20px;
}
#profile .tags{
  text-align: right;
}

#profile .tags li {
  width: 150px;
  display: inline-block;
  border-radius: 10px;
  text-align: center;
}

#profile .tags li a {
  display: block;
  padding: 7px 12px;
  border: 1px solid #ccc;
  border-radius: 30px;
  text-align: center;
  margin-left: 10px;
  margin-bottom: 10px;
  background: #76d852;
}

/*--------------------------------------------*/
#whole {
  overflow-x: scroll;
  overflow-y: scroll;
  width: 100%;
  height: 100vh;
}

@media only screen and (max-width: 768px) {
  #whole {
    height: auto;
  }
}

/*--------------------------------------------*/
.rank_cont {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .rank_cont {
    display: none;
  }
}

.rank_cont div {
  width: 360px;
  padding: 20px;
  background: #f7f7f7;
}

.rank_cont div:first-child {
  margin-right: 20px;
}

.rank_cont div h3 {
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.rank_cont div dl {
  display: flex;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #ccc;
  cursor: pointer;
}

.rank_cont div dl:hover dt, .rank_cont div dl:hover dd {
  color: #cc0000;
}

.rank_cont div dl:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border: none;
}

.rank_cont div dl dt {
  margin-right: 10px;
  width: 200px;
}

.rank_cont div dl dd {
  flex: 1;
  text-align: right;
}

/*--------------------------------------------*/
#control {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  border-top: 3px solid #8de754;
  background: #180d0e;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  text-align: center;
  padding: 19px 15px 12px;
}

@media only screen and (max-width: 768px) {
  #control {
    display: block;
  }
}

#control ul {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

#control p {
  display: inline-block;
  padding: 10px 30px;
  border: 3px solid #8de754;
  background: #fff;
  position: absolute;
  left: 50%;
  top: -25px;
  border-radius: 20px;
  width: 340px;
  margin-left: -170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* display: none; */
  color: #413c4b;
  min-height: 44.2px;
}

#control .share {
  position: absolute;
  right: 10px;
  bottom: 0px;
  display: none;
  padding: 10px 20px;
  background: #1da1f2;
  color: #fff;
  border-radius: 10px 10px 0 0;
  font-size: 1.2rem;
}

#control .search_tab {
  position: absolute;
  left: 10px;
  bottom: 0px;
  padding: 10px 20px;
  background: #75d852;
  color: #fff;
  border-radius: 10px 10px 0 0;
  font-size: 1.2rem;
  display: none;
}

@media only screen and (max-width: 768px) {
  #control .search_tab {
    display: block;
  }
}

.ytplay {
  display: inline-block;
  position: relative;
  background: #fff;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  color: #413c4b;
  font-size: 40px;
  margin-right: 10px;
}

.ytplay:before {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translateY(-50%);
  width: 0px;
  height: 0px;
  border: 0.3em solid transparent;
  border-left: 0.5em solid #fe2c5e;
  box-sizing: border-box;
  content: "";
}

.ytpause {
  display: inline-block;
  position: relative;
  background: #fff;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  color: #413c4b;
  font-size: 40px;
}

.ytpause:before, .ytpause:after {
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 0.1em;
  height: 0.5em;
  box-sizing: border-box;
  background-color: currentColor;
  content: "";
}

.ytpause:before {
  left: 40%;
}

.ytpause:after {
  left: 60%;
}

/*--------------------------------------------*/
.search_form {
  position: relative;
  margin: 0px 0px 0;
  margin-left: auto;
  display: flex;
  /* padding: 10px 0px; */
}

@media only screen and (max-width: 768px) {
  .search_form {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgb(24 13 14);
    padding: 30px;
    margin: 0;
    top: 300px;
    left: 0;
    z-index: 10;
    display: none;
    box-sizing: border-box;
    text-align: center;
  }

  .search_form div {
    width: 100%;
    border: #180d0e 1px solid;
    margin-top: 0;
    box-sizing: border-box;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 768px) {
  .search_form #update {
    display: none;
  }
}

.search_form h3 {
  margin-right: 10px;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 3rem;
  min-width: 120px;
}


.search_form div input[type=text] {
  color: #fff;
  font: 15px/26px sans-serif;
  box-sizing: border-box;
  /* margin: 8px 0; */
  padding: 6px 6px 6px 40px;
  transition: 0.3s;
  border: 1px solid #fff;
  border-radius: 4px;
  outline: none;
  width: 400px;
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .search_form h3 {
    display: none;
  }

  .search_form div input[type=text] {
    width: 100%;
  }
}

.search_form div input[type=text]:focus {
  border-color: #413c4b;
}

.search_form div input[type=text]:focus + i {
  color: #413c4b;
}

.search_form div i {
  position: absolute;
  top: 10px;
  left: 10px;
  background: url(../img/icon_search.png) no-repeat left top;
  background-size: 20px;
  width: 20px;
  height: 20px;
}

.search_form .search_btn,
.search_form .search_clear {
  margin-left: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  background: #f5f5f5;
  display: inline-block;
  padding: 0px 20px;
  font-weight: bold;
  height: 40px;
  font-weight: bold;
  font-size: 1.2rem;
  color: #180d0e;
}

.search_cont {
  text-align: left;
}

.search_cont .inner {
  width: 100%;
  margin: 0;
  display: inline-block;
}

.btn_close{
  display: none;
}

@media only screen and (max-width: 768px) {
  .search_cont .inner {
    margin-top: 0px;
  }

  .search_form .search_btn,
  .search_form .search_clear {
    width: 80%;
    display: block;
    margin: 0 auto 10px;
  }

  .search_form div i{
    top: 40px;
    left: 40px;
  }

  .btn_close{
    display: block;
    margin-top: 40px;
  }

}

.search_cont .inner h2 {
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  .search_cont .inner h2 {
    padding: 0 15px;
  }
}

.search_cont .inner p {
  margin-bottom: 30px;
  font-size: 1.1rem;
  line-height: 1.8rem;
  padding: 0 20px;
}

@media only screen and (max-width: 768px) {
  .search_cont .inner p {
    padding: 0 15px;
  }
}

@media only screen and (max-width: 768px) {
  .search_cont .inner p.pc {
    display: none;
  }
}

.search_cont .inner p.sp {
  display: none;
}

@media only screen and (max-width: 768px) {
  .search_cont .inner p.sp {
    display: block;
  }
}

/*--------------------------------------------*/
#menu #update {
  width: 100%;
  padding: 0 20px;
  margin-bottom: 20px;
}

#menu #update h2 {
  width: 100%;
  font-size: 1.2rem;
}

#update {
  width: auto;
  margin-left: auto;
  margin-top: 10px;
  white-space: nowrap;
}

#update h2 {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
  background: #3c3535;
  color: #fff;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  #update h2 {
    padding: 10px 15px;
    font-size: 1rem;
  }
}

#update ul {
  position: fixed;
  top: 213px;
  right: 0;
  display: none;
  background: #3c3535;
  outline: 2px solid white;
  outline-offset: -8px;
  width: 360px;
  text-align: left;
  padding: 30px 30px;
  z-index: 2;
}

@media only screen and (max-width: 768px) {
  #update ul {
    left: 50%;
    top: 100px;
    margin-left: -180px;
  }
}

#update ul li {
  margin-bottom: 10px;
  color: #fff;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#update ul li:last-child {
  margin-bottom: 0;
}

#update ul:before {
  content: "更新情報";
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
  font-size: 1.2rem;
  text-decoration: underline;
}

#update ul:after {
  content: "✕";
  font-weight: bold;
  color: #fff;
  font-size: 2rem;
  position: absolute;
  right: 20px;
  top: 20px;
}

/*--------------------------------------------*/
#song_stream {
  margin-top: 40px;
  padding-left: 20px;
}

@media only screen and (max-width: 768px) {
  #song_stream {
    display: none;
  }
}

#song_stream h3 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 20px;
}

#song_stream #song_streamIn {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  max-height: 300px;
  overflow-y: scroll;
}

#song_stream #song_streamIn dl {
  white-space: normal;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 170px;
}

#song_stream #song_streamIn dl:nth-child(5n) {
  margin-right: 0;
}

#song_stream #song_streamIn dl dt {
  border: 1px solid #ccc;
  box-shadow: #ccc 1px 1px 7px;
}

#song_stream #song_streamIn dl dd {
  text-align: center;
  padding: 10px;
}

#song_stream #song_streamIn dl img {
  vertical-align: bottom;
}

/*--------------------------------------------*/
.thumb_table {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .thumb_table {
    justify-content: center;
    background: #f7f7f7;
    padding: 20px;
  }
}

.thumb_table dl {
  background: #fff;
  white-space: normal;
  margin-bottom: 30px;
  width: 270px;
}

@media only screen and (max-width: 768px) {
  .thumb_table dl {
    width: 165px;
    margin-bottom: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 3px;
    overflow: hidden;
  }
}

@media only screen and (max-width: 768px) {
  .thumb_table dl:nth-child(odd) {
    margin-right: 20px;
  }
}

.thumb_table dl dt {
  border: 1px solid #ccc;
  box-shadow: #ccc 1px 1px 7px;
}

.thumb_table dl dd {
  text-align: center;
  padding: 10px;
}

@media only screen and (max-width: 768px) {
  .thumb_table dl dd {
    overflow: hidden;
  }
}

.thumb_table dl img {
  vertical-align: bottom;
}

.thumb_title {
  width: 100%;
  margin-top: 30px;
  display: flex;
}

@media only screen and (max-width: 768px) {
  .thumb_title {
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px !important;
  }
}

.view_change {
  margin-left: auto;
  margin-right: 20px;
  display: flex;
  font-size: 1.2rem;
  font-weight: normal;
}

@media only screen and (max-width: 768px) {
  .view_change {
    margin: 0;
  }
}

.view_change li {
  cursor: pointer;
}

.view_change li:first-child:after {
  content: "|";
  margin: 0 10px;
  display: inline-block;
  color: #333 !important;
}

.view_change li.active {
  color: #cc0000;
  font-weight: bold;
}

/* =========================================================
menu
=========================================================*/
/*--------------------------------------------*/
#menu {
  display: none;
}

@media only screen and (max-width: 768px) {
  #menu {
    z-index: 9;
    display: block;
    padding: 40px 0;
    position: fixed;
    width: 100%;
    height: 400px;
    top: 330px;
    right: 0;
    z-index: 9;
    transform: translateX(100%);
    transition: all .4s;
    /* 移動する速さ */
    overflow-y: scroll;
    background: #efefef;
  }
}

#menu #menuIn > div {
  margin-bottom: 30px;
}

#menu h3 {
  text-align: left;
  color: #333;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 0 20px;
}

#menu .search_link {
  text-align: center;
  margin-bottom: 20px;
}

#menu .search_link a {
  border: 1px solid #ccc;
  background: #fff;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 20px;
  display: inline-block;
  padding: 10px 30px;
  margin: 0 auto;
  width: 100%;
}

#menu .search_link a:after {
  content: "";
  display: inline-block;
  margin-left: 15px;
  border-top: solid 3px #37abe1;
  border-right: solid 3px #37abe1;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}

#menu .list {
  border-top: 1px solid #ccc;
}

#menu .list li {
  font-size: 1.1rem;
  line-height: 1.6rem;
  padding: 10px 20px;
  text-align: left;
  border-bottom: 1px solid #ccc;
  background: #fff;
}

#menu .list li:before {
  content: "";
  display: inline-block;
  margin-right: 15px;
  border-top: solid 3px #37abe1;
  border-right: solid 3px #37abe1;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
}

#menu.open {
  transform: translateX(0);
}

#menu li.disable:before {
  border-top: solid 3px #ccc;
  border-right: solid 3px #ccc;
}

#menu .disable,
#menu .disable:hover {
  color: #ccc;
  cursor: default;
}

/*--------------------------------------------*/
#button {
  position: absolute;
  top: 17px;
  right: 17px;
  z-index: 10;
}

.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}

.menu-trigger {
  position: relative;
  width: 35px;
  height: 30px;
  display: none;
  border: none;
  background: none;
  padding: 10px;
}

.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #333;
  border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
  top: 0;
}

.menu-trigger span:nth-of-type(2) {
  top: 13px;
}

.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

.menu-trigger.active span:nth-of-type(1) {
  width: 45%;
  transform: translate3d(2px, 7px, 0) rotate(45deg);
}

.menu-trigger.active span:nth-of-type(2) {
  transform: translate3d(-1px, 0, 0) rotate(-45deg);
}

.menu-trigger.active span:nth-of-type(3) {
  width: 45%;
  transform: translate3d(15px, -6px, 0) rotate(45deg);
}

@media (max-width: 480px) {
  .menu-trigger {
    display: inline-block;
  }
}

/* =========================================================
広告
=========================================================*/
/*--------------------------------------------*/
.ads_column {
  margin: 40px 0;
}

@media only screen and (max-width: 768px) {
  .ads_column {
    display: none;
  }
}

.ads_bottom {
  display: none;
  margin: 40px 0 0;
}

@media only screen and (max-width: 768px) {
  .ads_bottom {
    display: block;
  }
}

.ads_menu {
  width: 300px;
  display: none;
  margin: 20px auto 0;
}

@media only screen and (max-width: 768px) {
  .ads_menu {
    display: block;
  }
}
