/* =========================================================
common
=========================================================*/
* {
  outline: none;
  font-size: 14px;
  line-height: 22px;
}

@media only screen and (max-width: 480px) {
  * {
    font-size: 14px;
  }
}

body {
  width: 100%;
  height: 100%;
  padding: 0px;
  background: #fff;
  margin: 0px;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6rem;
  font-family: 'Noto Sans JP',sans-serif;
  overflow: auto;
  color: #333;
  letter-spacing: -0.02em;
}

a {
  cursor: pointer !important;
}

a:hover,
a:focus {
  text-decoration: none;
  cursor: pointer;
}

a:focus {
  outline: none;
}

h1, h2, h3, h4 {
  margin: 0px;
  padding: 0px;
  font-weight: 300;
}

p {
  margin-bottom: 1.2em;
  line-height: 1.6rem;
  white-space: normal;
}

pre {
  margin-bottom: 1.2em;
  line-height: 1.6rem;
  white-space: normal;
}

a {
  text-decoration: none;
}

strong {
  font-weight: 700;
  color: #2A2A2A;
}

ul, li, dl, dt, dd {
  padding: 0;
  margin: 0;
  text-indent: 0;
  list-style-type: none;
}

.pc {
  display: block;
}

@media only screen and (max-width: 480px) {
  .pc {
    display: none;
  }
}

.sp {
  display: none;
}

@media only screen and (max-width: 480px) {
  .sp {
    display: block;
  }
}

.maxwidth {
  max-width: 1400px;
  min-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
  text-align: left;
}

@media only screen and (max-width: 480px) {
  .maxwidth {
    max-width: auto;
    min-width: auto;
  }
}

/* =========================================================
header
=========================================================*/
header {
  width: 100%;
  height: 50px;
  background: #02A9E1;
  text-align: left;
  color: #fff;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0 20px;
}

header h1 {
  font-size: 2rem;
  text-align: left;
  font-weight: bold;
}

header span {
  font-size: 1rem;
}

header span:before {
  content: "|";
  margin: 0 10px;
}

/* =========================================================
footer
=========================================================*/
/* =========================================================
contents
=========================================================*/
#wrapper {
  text-align: left;
  display: flex;
  justify-content: left;
  height: 100%;
}

section {
  margin-bottom: 20px;
}

input {
  border: 1px solid #aaa;
  padding: 5px;
  background: #fff;
  border-radius: 5px;
}

h2 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #02A9E1;
}

.shadow, main .search_btn, main .detail .detail_panel, main .detail .detail_panel .detail_btn li, main table th .detail_btn.detail_btn li, main table td .detail_btn.detail_btn li, main .bulk ul li, main .ranking_artist ul li, aside .panel_setlist dl, aside .panel_action li {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
}

/* =========================================================
main
=========================================================*/
main {
  z-index: 1;
  flex: 1;
  min-width: 900px;
  height: 100%;
  padding: 30px;
}

main .category ul {
  display: flex;
  justify-content: left;
  align-items: center;
}

main .category ul li {
  font-size: 1rem;
  width: 160px;
  padding: 10px 0;
  border: 1px solid #02A9E1;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  color: #02A9E1;
  margin-right: 15px;
  cursor: pointer;
}

main .category ul li.active {
  background: #02A9E1;
  color: #fff;
  font-weight: 600;
}

main .search {
  display: flex;
  justify-content: left;
  align-items: start;
  margin-bottom: 40px;
}

main .search dl {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
}

main .search dl dt {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-right: 10px;
  font-weight: 600;
  width: 100px;
}

main .search dl dd {
  margin-right: 10px;
}

main .search input[type=text] {
  width: 500px;
  padding: 10px;
}

main .search input[type=checkbox] {
  margin-right: 5px;
}

main .search_btn {
  border: 1px solid #aaa;
  padding: 10px 60px 10px 80px;
  background: #F7F7F7 url(../img/icon_search.png) no-repeat left 50px top 10px;
  background-size: 20px;
  color: #02A9E1;
  font-weight: bold;
  border-radius: 30px;
  text-align: center;
  font-size: 1.2rem;
  cursor: pointer;
}

main .detail_title {
  background: #F7F7F7;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
  height: 55px;
}

main .detail_title strong {
  font-size: 1.2rem;
  color: #02A9E1;
  font-weight: 600;
  flex: 1;
}

main .detail_title span {
  display: inline-block;
  border-radius: 3px;
  background: #02A9E1;
  font-size: 0.85rem;
  line-height: 1;
  padding: 6px 10px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  color: #fff;
  font-weight: normal;
}

main .detail_title select {
  width: 300px;
  font-size: 1rem;
  color: #333;
  font-weight: normal;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 3px;
  background: #fff;
}

main .detail_title p {
  width: 300px;
  text-align: right;
  font-size: 1rem;
  color: #333;
  margin-bottom: 0;
}

main .detail_title.add_select:before {
  content: "";
  position: absolute;
  right: 20px;
  top: 25px;
  width: 10px;
  height: 10px;
  border-top: 2px solid #02A9E1;
  border-left: 2px solid #02A9E1;
  transform: translateY(-50%) rotate(-135deg);
  font-size: 20px;
  pointer-events: none;
}

main .detail {
  overflow-x: auto;
  padding-bottom: 10px;
  -webkit-overflow-scrolling: touch;
  height: 600px;
}

main .detail .detail_panel {
  padding: 15px 20px;
  border: 1px solid #aaa;
  border-radius: 3px;
  margin-bottom: 15px;
  background: #fff;
}

main .detail .detail_panel h3 {
  font-size: 1.2rem;
  line-height: 1.6;
  font-weight: 600;
}

main .detail .detail_panel h4 {
  font-size: 0.8rem;
  line-height: 1.4;
  color: #333;
  background: #F7F7F7;
  padding: 3px;
  margin-bottom: 10px;
}

main .detail .detail_panel div {
  display: flex;
  justify-content: left;
  align-items: end;
}

main .detail .detail_panel .detail_tag {
  margin-top: 0px;
  display: flex;
  justify-content: left;
  flex: 1;
}

main .detail .detail_panel .detail_tag li {
  margin-right: 5px;
}

main .detail .detail_panel .detail_tag li span {
  font-size: 0.8rem;
  background: #D3DCEB;
  border-radius: 20px;
  padding: 3px 10px;
}

main .detail .detail_panel .detail_tag li:last-child {
  margin-right: 0;
}

main .detail .detail_panel .detail_btn {
  display: flex;
  justify-content: right;
  width: 600px;
}

main .detail .detail_panel .detail_btn li {
  cursor: pointer;
  padding: 5px 15px 5px 40px;
  font-size: 1rem;
  margin-left: 20px;
  border-radius: 30px;
  font-weight: bold;
}

main .detail.type_search .detail_btn {
  width: 600px;
}

main .detail.type_search .detail_btn li.fav {
  background: #fff url(../img/icon_fav.png) no-repeat left 12px top 6px;
  background-size: 20px;
  border: 2px solid #FCB226;
  color: #FCB226;
}

main .detail.type_search .detail_btn li.setlist {
  background: #fff url(../img/icon_setlist.png) no-repeat left 12px top 6px;
  background-size: 20px;
  border: 2px solid #02A9E1;
  color: #02A9E1;
}

main .detail.type_search .detail_btn li.play {
  background: #fff url(../img/icon_play.png) no-repeat left 12px top 6px;
  background-size: 20px;
  padding-left: 40px;
  border: 2px solid #de332e;
  color: #de332e;
}

main .detail.type_search .detail_btn li.delete {
  background: #EEEEEE url(../img/icon_delete.png) no-repeat left 12px top 6px;
  background-size: 20px;
  padding-left: 40px;
  border: 2px solid #293A41;
  color: #293A41;
}

main .detail.type_add .detail_panel {
  display: flex;
  justify-content: left;
  align-items: center;
}

main .detail.type_add .detail_panel h3 {
  font-size: 1.1rem;
  line-height: 1.4;
  flex: 1;
}

main .detail.type_add .detail_panel h4 {
  display: none;
}

main .detail.type_add .detail_panel div {
  align-items: center;
  width: 300px;
}

main .detail.type_add .detail_panel .detail_tag {
  margin-top: 0px;
}

main .detail.type_add .detail_panel .detail_btn {
  width: auto;
  justify-content: end;
}

main .detail.type_add .detail_panel .detail_btn li {
  width: 34px;
  height: 34px;
  padding: 0px;
  margin-left: 10px;
  border-radius: 10px;
}

main .detail.type_add .detail_panel .detail_btn li span {
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #aaa;
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 120px;
  text-align: center;
  font-size: 0.8rem;
  z-index: 1;
  margin-left: -60px;
  display: none;
}

main .detail.type_add .detail_panel .detail_btn li.setlist {
  background: #fff url(../img/icon_setlist.png) no-repeat left 5px top 5px;
  background-size: 20px;
  border: 2px solid #02A9E1;
}

main .detail.type_add .detail_panel .detail_btn li.fav {
  background: #fff url(../img/icon_fav.png) no-repeat left 5px top 5px;
  background-size: 20px;
  border: 2px solid #FCB226;
}

main .detail.type_add .detail_panel .detail_btn li.play {
  background: #fff url(../img/icon_play.png) no-repeat left 5px top 5px;
  background-size: 20px;
  border: 2px solid #de332e;
}

main .detail.type_mypage .detail_panel {
  display: flex;
  justify-content: left;
  align-items: center;
}

main .detail.type_mypage .detail_panel h3 {
  font-size: 1.1rem;
  line-height: 1.4;
  flex: 1;
}

main .detail.type_mypage .detail_panel div {
  align-items: center;
  width: 480px;
}

main .detail.type_mypage .detail_panel label {
  margin-right: 10px;
}

main .detail.type_mypage .detail_tag {
  margin-top: 0;
  flex: 1;
  justify-content: right;
}

main .detail.type_mypage .detail_btn {
  width: 270px;
}

main .detail.type_mypage .detail_btn li.play {
  background: #fff url(../img/icon_play.png) no-repeat left 12px top 6px;
  background-size: 20px;
  padding-left: 40px;
  border: 2px solid #de332e;
  color: #de332e;
}

main .detail.type_mypage .detail_btn li.delete {
  background: #EEEEEE url(../img/icon_delete.png) no-repeat left 12px top 6px;
  background-size: 20px;
  padding-left: 40px;
  border: 2px solid #293A41;
  color: #293A41;
}

main .detail.type_ranking .detail_panel {
  padding: 15px 20px 15px 15px;
  display: flex;
  justify-content: left;
  align-items: center;
  background: url(../img/icon-ribbon.png) no-repeat left 15px top 0;
  background-size: 36px auto;
}

main .detail.type_ranking .detail_panel .rank {
  width: 30px;
  font-weight: 600;
  color: #fff;
  font-size: 1.2rem;
  padding-bottom: 12px;
  margin-right: 10px;
  text-align: center;
}

main .detail.type_ranking .detail_panel h3 {
  font-size: 1.1rem;
  line-height: 1.4;
  flex: 1;
}

main .detail.type_ranking .detail_panel h4 {
  display: none;
}

main .detail.type_ranking .detail_panel div {
  align-items: center;
  width: 300px;
}

main .detail.type_ranking .detail_panel .detail_tag {
  margin-top: 0px;
}

main .detail.type_ranking .detail_panel .detail_btn {
  width: auto;
  justify-content: end;
}

main .detail.type_ranking .detail_panel .detail_btn li {
  width: 34px;
  height: 34px;
  padding: 0px;
  margin-left: 10px;
  border-radius: 10px;
}

main .detail.type_ranking .detail_panel .detail_btn li span {
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #aaa;
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 120px;
  text-align: center;
  font-size: 0.8rem;
  z-index: 1;
  margin-left: -60px;
  display: none;
}

main .detail.type_ranking .detail_panel .detail_btn li.setlist {
  background: #fff url(../img/icon_setlist.png) no-repeat left 5px top 5px;
  background-size: 20px;
  border: 2px solid #02A9E1;
}

main .detail.type_ranking .detail_panel .detail_btn li.fav {
  background: #fff url(../img/icon_fav.png) no-repeat left 5px top 5px;
  background-size: 20px;
  border: 2px solid #FCB226;
}

main .detail.type_ranking .detail_panel .detail_btn li.play {
  background: #fff url(../img/icon_play.png) no-repeat left 5px top 5px;
  background-size: 20px;
  border: 2px solid #de332e;
}

main table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

main table td {
  text-align: left;
}

main table th {
  text-align: center;
}

main table th, main table td {
  vertical-align: middle;
  padding: 10px;
  border: 1px solid #aaa;
  white-space: nowrap;
  height: 50px;
}

main table th.fixed, main table td.fixed {
  position: sticky;
  top: 0;
  right: 0;
  background: none;
  border-left: none;
  border-right: none;
  width: 140px;
}

main table th.fixed:before, main table td.fixed:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  z-index: -1;
  background: #fff;
}

main table th.fixed_th, main table td.fixed_th {
  position: sticky;
  top: 0;
  left: 0;
  background: none;
  border-top: none;
  border-bottom: none;
}

main table th.fixed_th:before, main table td.fixed_th:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  background: #EEEEEE;
  z-index: -1;
}

main table th.th_title, main table th.th_artist, main table th.th_tag, main table td.th_title, main table td.th_artist, main table td.th_tag {
  z-index: 2;
}

main table th .detail_tag, main table td .detail_tag {
  display: flex;
  justify-content: left;
}

main table th .detail_tag li, main table td .detail_tag li {
  margin-right: 5px;
}

main table th .detail_tag li span, main table td .detail_tag li span {
  font-size: 0.8rem;
  background: #D3DCEB;
  border-radius: 20px;
  padding: 3px 10px;
}

main table th .detail_tag li:last-child, main table td .detail_tag li:last-child {
  margin-right: 0;
}

main table th .detail_btn, main table td .detail_btn {
  flex: 1;
}

main table th .detail_btn.detail_btn, main table td .detail_btn.detail_btn {
  display: flex;
  justify-content: space-between;
  width: 120px;
}

main table th .detail_btn.detail_btn li, main table td .detail_btn.detail_btn li {
  width: 34px;
  height: 34px;
  border-radius: 10px;
}

main table th .detail_btn.detail_btn li span, main table td .detail_btn.detail_btn li span {
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #aaa;
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 120px;
  text-align: center;
  font-size: 0.8rem;
  z-index: 1;
  margin-left: -60px;
  display: none;
}

main table th .detail_btn.detail_btn li.setlist, main table td .detail_btn.detail_btn li.setlist {
  background: #fff url(../img/icon_setlist.png) no-repeat left 5px top 5px;
  background-size: 20px;
  border: 2px solid #02A9E1;
}

main table th .detail_btn.detail_btn li.fav, main table td .detail_btn.detail_btn li.fav {
  background: #fff url(../img/icon_fav.png) no-repeat left 5px top 5px;
  background-size: 20px;
  border: 2px solid #FCB226;
}

main table th .detail_btn.detail_btn li.play, main table td .detail_btn.detail_btn li.play {
  background: #fff url(../img/icon_play.png) no-repeat left 5px top 5px;
  background-size: 20px;
  border: 2px solid #de332e;
}

main table th .detail_btn_list, main table td .detail_btn_list {
  display: flex;
  justify-content: center;
  align-items: center;
}

main table th .detail_btn_list div, main table td .detail_btn_list div {
  display: flex;
  display: none;
}

main table th .detail_btn_list div span, main table td .detail_btn_list div span {
  color: #fff;
  text-align: center;
  height: 50px;
  display: grid;
  place-items: center;
  position: relative;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
}

main table th .detail_btn_list div .detail_add_play, main table td .detail_btn_list div .detail_add_play {
  width: 150px;
  color: #fff;
  background: #de332e url(../img/icon_play_white.png) no-repeat left 20px top 14px;
  background-size: 25px auto;
  padding-left: 35px;
}

main table th .detail_btn_list div .detail_add_list, main table td .detail_btn_list div .detail_add_list {
  width: 150px;
  background: #02A9E1;
  padding-right: 10px;
}

main table th .detail_btn_list div .detail_add_list:before, main table td .detail_btn_list div .detail_add_list:before {
  content: "";
  position: absolute;
  right: 10px;
  width: 8px;
  height: 8px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

main table th.fixed {
  z-index: 3;
}

main table th.fixed:before {
  content: "";
  top: -1px;
  left: 0px;
  border-right: 2px solid #fff;
  border-top: 1px solid #fff;
  width: calc(100% + 1px);
  height: calc(100% + 1px);
}

main .bulk ul {
  display: flex;
  justify-content: right;
}

main .bulk ul li {
  cursor: pointer;
  padding: 10px 40px;
  font-size: 1rem;
  margin-left: 20px;
  border-radius: 30px;
  font-weight: bold;
}

main .bulk ul li.bulk_fav {
  border: 2px solid #FCB226;
  color: #FCB226;
}

main .bulk ul li.bulk_setlist {
  border: 2px solid #02A9E1;
  background: #02A9E1;
  color: #fff;
}

main .bulk ul li.bulk_mysong {
  border: 2px solid #de332e;
  background: #de332e;
  color: #fff;
}

main .bulk ul li.bulk_delete {
  border: 2px solid #293A41;
  color: #293A41;
}

main .ranking_artist {
  padding: 20px;
  background: #F7F7F7;
}

main .ranking_artist ul {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  margin-top: 15px;
}

main .ranking_artist ul li {
  padding: 5px 10px;
  background: #fff;
  text-align: center;
  border: #aaa;
  border-radius: 10px;
  margin-right: 10px;
  font-size: 0.9rem;
  margin-bottom: 10px;
  cursor: pointer;
}

/* =========================================================
ranking
=========================================================*/
.ranking .detail {
  height: 900px;
}

.ranking .detail th:first-child, .ranking .detail td:first-child {
  text-align: center;
}

/* =========================================================
mypage
=========================================================*/
.mypage .detail {
  height: auto;
  max-height: 600px;
}

.mypage .detail th:first-child, .mypage .detail td:first-child {
  text-align: center;
}

.mypage .detail th.fixed, .mypage .detail td.fixed {
  width: 260px;
}

.mypage .detail th .detail_btn, .mypage .detail td .detail_btn {
  justify-content: space-around;
  width: 260px;
}

.mypage .detail th .detail_btn li, .mypage .detail td .detail_btn li {
  width: auto;
  height: auto;
  padding: 5px 20px 5px 40px;
  font-weight: bold;
  cursor: pointer;
}

.mypage .detail th .detail_btn li.play, .mypage .detail td .detail_btn li.play {
  background: #fff url(../img/icon_play.png) no-repeat left 10px top 7px;
  background-size: 20px;
  color: #de332e;
}

.mypage .detail th .detail_btn li.delete, .mypage .detail td .detail_btn li.delete {
  background: #EEEEEE url(../img/icon_delete.png) no-repeat left 10px top 6px;
  background-size: 20px;
  color: #293A41;
  border: 2px solid #293A41;
}

/* =========================================================
setting
=========================================================*/
.setting h2 {
  margin-bottom: 40px;
}

.setting dl {
  display: flex;
  justify-content: left;
  border-bottom: 1px dotted #aaa;
  margin: 0 20px 30px;
  padding-bottom: 30px;
  align-items: center;
}

.setting dl dt {
  width: 200px;
  font-size: 1.2rem;
  font-weight: bold;
}

.setting dl dd {
  flex: 2;
  font-size: 1rem;
}

.setting dl dd.setting_edit {
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 5px 15px;
  width: 50px;
  text-align: center;
  flex: 1;
  color: #02A9E1;
  cursor: pointer;
  font-weight: 600;
}

/* =========================================================
nav
=========================================================*/
nav {
  min-width: 50px;
  width: 50px;
  height: calc(100vh - 50px);
  background: #47545A;
  position: relative;
}

nav ul li a {
  width: 50px;
  height: 50px;
  padding: 0;
  line-height: 0;
  display: block;
  cursor: pointer;
}

nav ul li a.nav_home {
  background: url(../img/icon_nav_home.png) no-repeat left 50% top 50%;
  background-size: 25px;
}

nav ul li a.nav_ranking {
  background: url(../img/icon_nav_ranking.png) no-repeat left 50% top 50%;
  background-size: 25px;
}

nav ul li a.nav_mypage {
  background: url(../img/icon_nav_mypage.png) no-repeat left 50% top 50%;
  background-size: 25px;
}

nav ul li a.nav_setting {
  background: url(../img/icon_nav_setting.png) no-repeat left 50% top 50%;
  background-size: 25px;
}

nav ul li a.nav_login {
  background: url(../img/icon_nav_login.png) no-repeat left 50% top 50%;
  background-size: 25px;
}

nav ul li a.nav_toggle {
  background: #293A41 url(../img/icon_nav_toggle_open.png) no-repeat left 50% top 50%;
  background-size: 20px;
}

nav ul li a.nav_toggle.open {
  background: #293A41 url(../img/icon_nav_toggle_close.png) no-repeat left 50% top 50%;
  background-size: 20px;
}

nav ul li a.active {
  background-color: #61686C;
}

nav ul li a:hover {
  background-color: #61686C;
}

nav ul.nav_end {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* =========================================================
aside
=========================================================*/
aside {
  width: 300px;
  min-width: 300px;
  height: calc(100vh - 50px);
  background: #EEEEEE;
  position: relative;
  min-height: 1114px;
}

aside h2 {
  background: #ccc;
  padding: 10px;
}

aside h2 dl {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

aside h2 dl dt {
  font-weight: 600;
  color: #333;
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

aside h2 dl dd a {
  display: block;
  padding: 5px 10px;
  text-align: center;
  font-size: 1rem;
  width: 90px;
  border-radius: 5px;
}

aside h2 dl dd a.btn_save {
  border: 2px solid #02A9E1;
  background: #fff;
}

aside .panel_setlist {
  padding: 15px;
  min-height: 800px;
  height: calc(100% - 328px);
  overflow-y: scroll;
}

aside .panel_setlist dl {
  background: #fff;
  border-radius: 10px;
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  position: relative;
}

aside .panel_setlist dl .btn_close {
  position: absolute;
  top: -7px;
  right: -7px;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background: #47545A;
  color: #fff;
  text-align: center;
  display: grid;
  place-items: center;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
}

aside .panel_setlist dl dt {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 5px;
}

aside .panel_setlist dl dd ul {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

aside .panel_setlist dl dd ul li.panel_artist {
  flex: 1;
  font-size: 0.9rem;
}

aside .panel_setlist dl dd ul li.panel_btn .panel_add_play {
  font-size: 0.9rem;
  background: #de332e url(../img/icon_play_white.png) no-repeat left 18px top 6px;
  background-size: 17px auto;
  color: #fff;
  text-align: center;
  padding: 5px 20px 5px 40px;
  border-radius: 20px;
  cursor: pointer;
}

aside .panel_action {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
  background: #61686C;
}

aside .panel_action li a {
  display: block;
  padding: 5px 10px;
  text-align: center;
  font-size: 0.9rem;
  min-width: 100px;
  border-radius: 5px;
}

aside .panel_action li a.btn_load {
  background: #DDDDDD;
}

aside .panel_youtube {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px;
  background: #000;
}

/* =========================================================
dialog
=========================================================*/
.dialog {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: none;
}

.dialog .detail {
  position: absolute;
  left: 50%;
  top: 50%;
  background: #fff;
  border-radius: 5px;
}

.dialog .detail h2 {
  background: #02A9E1;
  width: 100%;
  padding: 7px;
  text-align: center;
  color: #fff;
  border-radius: 5px 5px 0 0;
}

.dialog .detail .inner {
  padding: 30px;
  text-align: center;
}

.dialog .detail ul {
  display: flex;
  justify-content: center;
}

.dialog .detail ul li {
  width: 100px;
  display: block;
  padding: 5px 10px;
  text-align: center;
  font-size: 0.9rem;
  border-radius: 5px;
  cursor: pointer;
}

.dialog .detail ul li.btn_true {
  background-color: #02A9E1;
  color: #fff;
  margin-right: 20px;
}

.dialog .detail ul li.btn_false {
  background: #DDDDDD;
}

.dialog .detail.dialog_type_save, .dialog .detail.dialog_type_rename {
  display: none;
  width: 400px;
  margin-left: -200px;
  height: 220px;
  margin-top: -110px;
}

.dialog .detail.dialog_type_save dl, .dialog .detail.dialog_type_rename dl {
  margin-bottom: 30px;
}

.dialog .detail.dialog_type_save dl dt, .dialog .detail.dialog_type_rename dl dt {
  font-weight: bold;
  margin-bottom: 10px;
}

.dialog .detail.dialog_type_save dl dd input, .dialog .detail.dialog_type_rename dl dd input {
  width: 100%;
  text-align: left;
}

.dialog .detail.dialog_type_setting {
  display: none;
  width: 400px;
  margin-left: -200px;
  height: 220px;
  margin-top: -110px;
}

.dialog .detail.dialog_type_setting dl {
  margin-bottom: 30px;
}

.dialog .detail.dialog_type_setting dl dt {
  font-weight: bold;
  margin-bottom: 10px;
}

.dialog .detail.dialog_type_setting dl dd input {
  width: 100%;
  text-align: left;
}

.dialog .detail.dialog_type_load {
  display: none;
  width: 400px;
  margin-left: -200px;
  height: 200px;
  margin-top: -100px;
}

.dialog .detail.dialog_type_load dl {
  margin-bottom: 30px;
}

.dialog .detail.dialog_type_load dl dt {
  font-weight: bold;
  margin-bottom: 10px;
}

.dialog .detail.dialog_type_load dl dd {
  position: relative;
}

.dialog .detail.dialog_type_load dl dd:before {
  content: "";
  position: absolute;
  right: 20px;
  top: 15px;
  width: 10px;
  height: 10px;
  border-top: 2px solid #02A9E1;
  border-left: 2px solid #02A9E1;
  transform: translateY(-50%) rotate(-135deg);
  font-size: 20px;
  pointer-events: none;
}

.dialog .detail.dialog_type_load dl dd select {
  width: 100%;
  font-size: 1rem;
  color: #333;
  font-weight: normal;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 3px;
  background: #fff;
}

.dialog .detail.dialog_type_delete {
  display: none;
  width: 400px;
  margin-left: -200px;
  height: 220px;
  margin-top: -110px;
}

.dialog .detail.dialog_type_delete dl {
  margin-bottom: 30px;
}

.dialog .detail.dialog_type_delete ul li.btn_true {
  background-color: #47545A;
  color: #fff;
  margin-right: 20px;
}

.dialog .detail.dialog_type_mysong {
  display: none;
  width: 600px;
  margin-left: -300px;
  height: 530px;
  margin-top: -265px;
}

.dialog .detail.dialog_type_mysong p {
  margin-bottom: 30px;
}

.dialog .detail.dialog_type_mysong p strong {
  font-weight: bold;
  color: #02A9E1;
}

.dialog .detail.dialog_type_mysong dl {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px dotted #aaa;
}

.dialog .detail.dialog_type_mysong dl dt {
  font-weight: bold;
  margin-bottom: 10px;
  width: 130px;
  text-align: left;
}

.dialog .detail.dialog_type_mysong dl dd {
  flex: 1;
}

.dialog .detail.dialog_type_mysong dl dd input {
  width: 100%;
  text-align: left;
}

.dialog .detail.dialog_type_mysong dl dd.dialog_radio {
  display: flex;
  justify-content: left;
}

.dialog .detail.dialog_type_mysong dl dd.dialog_radio label {
  width: 60px;
  margin-right: 20px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.dialog .detail.dialog_type_mysong dl dd.dialog_radio label input {
  width: auto;
  margin-right: 10px;
}

.dialog .detail.dialog_type_mysong ul li.btn_true {
  background-color: #de332e;
  color: #fff;
  margin-right: 20px;
}

/* =========================================================
Checkbox
=========================================================*/
.detail_checkboxInput {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.detail_checkboxInput-Input {
  margin: 0;
  width: 0;
  opacity: 0;
}

.detail_checkboxInput:hover > .detail_checkboxInput-DummyInput {
  transform: scale(1.1);
}

.detail_checkboxInput-Input:focus + .detail_checkboxInput-DummyInput {
  transform: scale(1.1);
}

.detail_checkboxInput-Input:checked + .detail_checkboxInput-DummyInput {
  background: #02A9E1;
  border: solid 2px transparent;
}

.detail_checkboxInput-Input:checked + .detail_checkboxInput-DummyInput::before {
  content: "";
  display: block;
  position: absolute;
  top: 30%;
  left: 55%;
  width: 35%;
  height: 2px;
  border-radius: 2px;
  transform: translate(-6px, 5px) rotateZ(-135deg);
  transform-origin: 2px 2px;
  background: #FFFFFF;
}

.detail_checkboxInput-Input:checked + .detail_checkboxInput-DummyInput::after {
  content: "";
  display: block;
  position: absolute;
  top: 40%;
  left: 65%;
  width: 70%;
  height: 2px;
  border-radius: 2px;
  transform: translate(-6px, 5px) rotateZ(-45deg);
  transform-origin: 2px 2px;
  background: #FFFFFF;
}

.detail_checkboxInput-DummyInput {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 24px;
  height: 24px;
  border: solid 1px #aaa;
  background: #F7F7F7;
  border-radius: 50%;
  transition: all .15s linear;
}

.detail_checkboxInput-LabelText {
  margin-left: 5px;
  display: block;
}
